<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcom</title>
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="col">
                {% block login %}
                {% endblock %}
            </div>
        
            <div class="col">
                {% block register %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>